.footer-container{
    /* background-color: #51323224;
    padding: 4rem 0 2rem ;
    padding: 35px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    position: absolute;
    right: 0;
    left:0;
    bottom: 0; */
    background-color: #559496;
    padding:4rem 0 2rem 0;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
/* .Contact{
    font-size: medium;
}
.About{
    font-size: medium;

}
.Video{
    font-size: medium;

}
.Social{
    font-size: medium;
    text-align: center;
} */
.footer-subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding:24px;
    color:rgb(12, 12, 12);
    }
.footer-subscription-heading{
    margin-bottom: 24px;
    font-size:24;

}
.footer-subscription-text{
    margin-bottom: 24px;
    font-size: 20px;

}
.footer-input{
    padding:8px 20px;
    border-radius:2px;
    margin-right:10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;

}
.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer-link-wrapper{
    display: flex;
}
.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;

}
.footer-link-items h2{
    margin-bottom: 16px;

}
.footer-link-items h2{
    margin-bottom: 16px;
}

.footer-link-items > h2{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}
.footer-link-items a:hover{
    color: #e9e9e9e9;
    transition: all 0.3s ease-in-out;
}

.footer-email-form h2{
    margin-bottom: 32px;

}
.footer-input::placeholder{
    color: #b1b1b1;
}
/* .button{
    height: 150px;
    width: 150px;
} */
/* social icon */
.social-icon-link{
    color: #fff;
    font-size:24px;
}

.social-media{
    max-width :1000px;
    width: 100%;
}
.social-media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width:1000px;
    margin: 40px auto 0 auto;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    width: 240px;
    align-items: center;

}
.social-logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
    margin-bottom: 16px;
}
.website-rights{
    color: #fff;
    margin-bottom: 16px;
}

@media screen  and (max-width:820px){
    .footer-links{
        padding-top: 2rem;
    }
    .footer-input{
        width: 100%;
    }
     .btn{
        width: 100%;
     }   
     .footer-link-wrapper{
        flex-direction: column;
     }
     .social-media-wrap{
        flex-direction: column;
     }
}